/* outline */
$default-gray: #e2e6ea !default;
$header-font: Impact,
Charcoal,
sans-serif;
$min-height-body: 485px;
$max-height-body: 600px;

/* card */
$max-height-card-text: $max-height-body * 3 / 5;
