@import "variables";

/* misc */
h1,
h2 {
  font-family: $header-font;
  color: black !important;
}

/* Header and Footer */
.header-footer {
  background-color: $default-gray;
  width: 100%;
}

#header {
  height: 100px;
  padding: 25px;

  a {
    text-decoration: none;
  }
}

#footer {
  position: absolute;
  height: 50px;
  padding: 12.5px;
}

/* Body */
#body {
  margin: 15px 0;
  min-height: $min-height-body;
  width: 100%;

  .long-text {
    max-height: $max-height-card-text;
    overflow: auto !important;
    margin-bottom: 20px;
  }

  .long-text-card-small {
    max-height: $max-height-card-small-text;
    overflow: auto !important;
  }

  td {
    vertical-align: middle !important;
  }
}
